*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body{
  min-height: 100vh;
  width: 98vw;
  background-image: linear-gradient(to bottom, #2D0A12, #b62121)  ;
}